*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
*.py linguist-detectable=true

# Explicitly declare languages
*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript
*.py linguist-language=Python

