*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
*.py linguist-detectable=true

# Mark CSS as documentation to reduce its impact on language stats
*.css linguist-documentation=true

# Explicitly mark Python and JavaScript as the main languages
*.py linguist-language=Python
*.html linguist-language=HTML
*.css linguist-language=CSS
*.js linguist-language=JavaScript